

 <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<%= link_to("<---Back To The List", subjects_path, :class => 'back-link')%>
<div class="subject new">
  <h1>Update Subject</h1>
  <%= form_for(@subject,:url => subject_path(@subject),:method => 'patch')do |f| %>
  <table summary="Subject for fields">
    <tr>
      <th>Name</th>
      <td><%= f.text_field(:name)%></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= f.text_field(:position)%></td>
    </tr>
    <tr>
      <th>Visible</th>
      <td><%= f.text_field(:visible)%></td>
    </tr>
  </table>
  <div class="form-buttons">
    <%= f.submit("Update Subject")%>
  </div>
  <%end%>
</div>

<footer>
  <p>Made By: Kaushik Ghosh<br>
  <a href="mailto:kaushikghosh199832@gmail.com">kaushikghosh199832@gmail.com</a></p>
</footer>
